DATABASE_URL=postgresql+psycopg://postgres:testpassword@database:5432/helpdesk
##Replace 'testpassword' with your actual database password if u want

SECRET_KEY=0000000thisisaverylongsecretkeythatyoucanreplacewith0000fjefbefbaejbelfjalfjealjefalfbeefrgrgr8597834fbdigb403g488bg5u
##Replace this string if you want. You can type random characters or use a password generator to create a strong secret key.

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30


#THIS SECTION IS FOR DOCKER COMPOSE -- ENVIRONMENT VARIABLES
#BY DEFAULT DOCKER COMPOSE TAKE VARIABLES FROM .env FILE, BUT YOU CAN USE ANOTHER FILE WITH THE FOLLOWING COMMAND:
#docker-compose --env-file .env.docker up --build

POSTGRES_DB=helpdesk
POSTGRES_USER=postgres
POSTGRES_PASSWORD=testpassword
##Replace 'testpassword' with your actual database password if u want to use docker-compose with a different password than the one in DATABASE_URL. If you want to use the same password, you can leave it as is.